html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #31102f;
    background: radial-gradient(
        ellipse at center,
        rgba(49, 16, 47, 1) 0%,
        rgba(40, 11, 41, 1) 100%
    );
}

#stars {
    display: block;
    position: relative;
    width: 100%;
    height: 16rem;
    height: 100vh;
    z-index: 1;
}
